.form-container {
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  color: #1e1e2f;

}

.form-input {
  margin-bottom: 2rem;
}

.form-input h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #1e1e2f;
  border-bottom: 2px solid #4e4eff;
  padding-bottom: 0.4rem;
}

.form-input > div > div {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 0.4rem;
  color: #2a2a40;
}

input,
textarea {
  padding: 0.6rem 0.8rem;
  background-color: #f1f1f7;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  color: #1e1e2f;
  transition: border 0.3s, background-color 0.3s;
}

input:focus,
textarea:focus {
  border-color: #4e4eff;
  outline: none;
  background-color: #e8e8f5;
}

textarea {
  resize: vertical;
}

.button-container{
  display: flex;
  justify-content: center;
}

button {
  padding: 0.8rem 1.6rem;
  width: 50%;
  font-size: 1rem;
  font-weight: 600;
  background-color: #4e4eff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3c3cff;
}
